$baseColor: #33750f;
$seccondColor: rgb(164, 202, 168);
$colorLink: rgb(75, 9, 9);
$menuBtnColor: rgb(21, 28, 58);
$bodyColor: rgb(231, 231, 231);
$menuColor: rgb(14, 23, 107);

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$grey: rgb(189, 189, 189);
$red: rgb(175, 19, 19);


$transition: all linear 0.3s;

//breakpoints
$sm: 480px;
$md: 600px;
$lg: 800px;
$xl: 1024px;
$xxl: 1200px;